:root{
    /* text (weight, line-height, size) */
   --headline-wgh:600;
   --text-medium:500;
   --text-regular:normal;

   --h1-size: 64px;
   --h1-line-h: 76px;

   --h2-size: 36px;
   --h2-line-h: 44px;

   --h3-size: 28px;
   --h3-line-h: 36px;

   --h4-size: 20px;
   --h4-line-h: 28px;

   --text-primary-size: 18px;
   --text-primary-line-h: 28px;

   --txt-secondary-size:16px;
   --txt-secondary-line-h:24px;
   /* colors */
    --primary: #4CAF4F;
   --secondary:#263238;
   --white:#fff;
   --silver: #f5f7fa;
   --tint-5:#E8F5E9;
   --shade-5:#103e13;


   --text-color-main:#4D4D4D;
   --text-color-secondary:#717171;

   --footer-txt-color-title: var(--white);
   --footer-txt-color: var(--silver);
    
   /* surfaces */
   --section-surface:var(--silver);
   --footer-surface:var(--secondary);

    /*corners radius  */
   --radius-sm: 3px;
   --radius-md: 6px;
   --radius-lg:50px;

   /* shadow */
   --shadow-sm: 0 3px 6px #ABB3D1;
   --shadow-md: 0 4px 8px #ABB3D1;
   --shadow-lg: 0 8px 16px #ABB3D1;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
button{
    all: unset;
    font-weight: var(--text-medium);
}

.container{
    width: 1240px;
    margin-inline: auto;
}

body{
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    width: 100%;
    background-color: var(--white);
    font-weight: var(--text-regular);
    font-size:16px;
    line-height: 24px;
    overflow-x: hidden;
    color: var(--text-color-secondary);
}

h1,h2,h3,h4{
    font-weight: var(--headline-wgh);
    color: var(--text-color-main);
}
h1{
    font-size: 64px;
    line-height: 1.1;
}
h2{
    font-size: 36px;
    line-height: 1.22;
}
h3{
    font-size: 28px;
    line-height: 1.25;
}
h4{
    font-size: 20px;
    line-height: 1.4;
}

.btn{
    background-color: var(--primary);
    color: var(--white);
    padding: 12px 32px;
    border-radius: var(--radius-sm);
    transition: transform .2s ease-in-out , background .2s ease-in;
}

.btn:hover{
    transform: translateY(-2px);
}
