@import url('global.css');

header{
    height: 4.5rem;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
    background-color:transparent;
    backdrop-filter: blur(6px);
    box-shadow: var(--shadow-md);
    
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nexcent_logo{
    width: 150px;
    height: 24px;
    cursor: pointer;

}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    font-weight: var(--text-medium);
    color: var(--text-color-main);
    
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links > li >a{
    color: var(--text-color-main);
     transition: color .19s ease-in;

}

.nav-links >li>a:hover{
    color: var(--primary);
}

.nav-btn > button{
    color: var(--white);
    background-color: var(--primary);
    
    padding: 16px 32px;
    border-radius: var(--radius-sm);
    transition: background .2s ease-in;
}

button:hover{
    background-color:#388e3b ;
    cursor: pointer;
    
}

.home{
    /* display: flex; */
}

.hero-section{
    height: 75dvh;
    background-color: var(--section-surface);
    display: flex;
}

.hero-content{
    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: self-end;
    align-items: center;
}

.hero-title >span{
    color: var(--primary);
}

.hero-subtitle {   
    padding-block: 1.1rem;
}

.hero-btn{
    background-color: var(--primary);
    color: var(--white);
    padding: 12px 32px;
    border-radius: var(--radius-sm);
    transition: transform .2s ease-in-out , background .2s ease-in;
}

.hero-btn:hover{
    transform: translateY(-2px);
}

.hero-img > img{
    width: 25em;
    height: 25em;
    transition: transform .2s ease-in-out;
}

.hero-img>img:hover{
    cursor: pointer;
}

.hero-slider{
    margin-inline: auto;
    margin-top: 5em;
    display: flex;
    gap: 10px;
    grid-column: 1/5;
}
.hero-slider > span{
    padding: 5px;
    background-color: var(--primary);
    border-radius: 50%;
    opacity: 30%;
}

.hero-slider > .active{
    opacity: 100%;
}


.clients-section{
    padding-top: 1.5rem;
    height: 18dvh;
}
.client-title{
    padding-bottom: .2em;
}
.client-content{
    text-align: center;
}

.clients-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10em;
    margin-top: 1rem;
}

.clients-logo .logo{
    width: 2.5em;
}

.community-section{
    padding-top: 1.5rem;
    height: 43dvh;
}

.community-title, .community-text{
    text-align: center;
}
.community-title{
    margin: 0 auto;
    max-width: 15em;
    padding-bottom: .2em;
}
.community-cards{
    margin-top: .5em;
    padding: 1em 0;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    column-gap: 9em;
}

.community-cards > .card{
    text-align: center;
    padding: 17px 22px;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
}

.cmt-card-icon{
    background-color: var(--tint-5);
    border-radius: 7px 4px 12px 4px;
    padding: 15px 5px 4px 2px;
}
.cmt-card-title{
    padding-block: .3em;
}